.right-toolbar {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 99;
  width: 30px;
  height: max-content;
  background: var(--app-header-background);
  border: 1px solid var(--app-header-border);
  transform: translate(0, -50%);
  border-radius: 6px 0 0 6px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  &__theme-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 6px;
    color: var(--text-color);
    transition: all 0.4s;
    &:hover {
      background: rgba(var(--primary-color-rgb), 0.5);
      color: var(--white-color);
    }
  }
}
@media all and (max-width: 1024px) {
  .right-toolbar {
    display: none;
  }
}
