.right-toolbar {
  position: absolute;
  right: 0;
  top: 50%;
  width: 30px;
  height: max-content;
  background: var(--app-header-background);
  border: 1px solid var(--app-header-border);
  transform: translate(0, -50%);
  border-radius: 6px 0 0 6px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  &__theme-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 6px;
    color: var(--text-color);
    &:hover {
      background: rgba(var(--primary-color-rgb), 0.5);
      color: var(--white-color);
    }
  }
  &__lang-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 6px;
    &:hover {
      background: rgba(var(--primary-color-rgb), 0.5);
    }
    &__menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        height: max-content;
        min-width: 100px;
        width: max-content;
        position: absolute;
        right: 35px;
        top: 40px;
        padding: 5px;
        border: 1px solid var(--app-header-border);
        border-radius: 6px;
        background: var(--app-header-background);
        color: var(--text-color);
        overflow: hidden;
        transition: all 0.5s;
        &__item{
            display: flex;
            align-items: center;
            width: calc(100% - 10px);
            gap: 5px;
            padding: 5px;
            font-size: 12px;
            line-height: 20%;
            border-radius: 6px;
            &:hover{
                background: rgba(var(--primary-color-rgb), 0.5);
            }
        }
        &__item.selected{
            background: var(--primary-color);
        }
    }
    &__menu.closed{
        height: 0;
        min-width: 0;
        width: 0;
        padding: 0;
        opacity: 0;
        border-width: 0;
    }
  }
}
@media all and (max-width: 1024px) {
  .right-toolbar {
    display: none;
  }
}
