.pro-house-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  padding: 24.5px 93px;
  left: 0px;
  top: 0px;
  border-bottom: 1px solid var(--app-header-border);
  background: var(--app-header-background);
  &__burger-button {
    display: none;
  }
  &__mobile-menu {
    display: none;
  }
  &__menu-side {
    display: flex;
    align-items: center;
    gap: 60px;
    flex: 1;
    &__links {
      display: grid;
      align-items: center;
      gap: 40px;
      color: var(--text-color);
      padding-inline-end: 20px;
      grid-template-columns: auto auto auto;
      &__item {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    color: var(--text-color);
    & > span {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      white-space: nowrap;
    }
  }
  &__actions-side {
    display: flex;
    align-items: center;
    gap: 32px;
    border-inline-start: 1px solid var(--app-header-border);
    padding-inline-start: 88px;
    &__connect-wallet {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px 24px 9px;
      gap: 10px;
      background: var(--primary-color);
      border-radius: 4px;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: var(--white-color);
      border: unset;
      outline: none;
      cursor: pointer;
      white-space: nowrap;
      &:hover {
        background: rgba(var(--primary-color-rgb), 0.9);
      }
    }
    &__favorite {
      position: relative;
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--text-color);
      & > span {
        position: absolute;
        bottom: 10px;
        left: 10px;
        height: 10px;
        width: 10px;
        background: #f61010;
        border-radius: 50%;
        border: 2px solid var(--app-header-background);
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .pro-house-header {
    padding: 16px 20px;
    &__menu-side {
      flex: none;
      &__links {
        display: none;
      }
    }
    &__burger-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      cursor: pointer;
      height: 32px;
      width: 32px;
      color: var(--text-color);
      transition: all 0.3s ease;
    }
    &__burger-button div {
      transition: transform 0.3s ease, opacity 0.3s ease;
    }

    &__burger-button.open div:nth-child(1) {
      transform: translateY(7px) rotate(45deg);
    }

    &__burger-button.open div:nth-child(2) {
      opacity: 0;
    }

    &__burger-button.open div:nth-child(3) {
      transform: translateY(-7px) rotate(-45deg);
    }
    &__mobile-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      align-items: flex-start;
      position: absolute;
      top: 65px;
      left: 0;
      height: calc(100vh - 65px);
      width: 0px;
      border-inline-end: unset;
      background: var(--app-header-background);
      overflow: hidden;
      transition: all 0.3s ease;
      &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: calc(100% - 20px);
        height: calc(100% - var(--side-mobile-menu-footer-height));
        padding: 10px;
        overflow-y: auto;
        &__item {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          padding: 10px;
          color: var(--text-color);
          border-radius: 6px;
          cursor: pointer;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          flex: none;
          flex-grow: 0;
          &:hover {
            background: rgba(var(--primary-color-rgb), 0.5);
          }
        }
      }
      &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        color: var(--text-color);
        width: 100%;
        height: var(--side-mobile-menu-footer-height);
        &__theme-button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25px;
          height: 25px;
          cursor: pointer;
        }
      }
    }
    &__mobile-menu.open {
      width: 50%;
      border-inline-end: 1px solid var(--app-header-border);
    }
    &__actions-side {
      padding-inline-start: unset;
      border-inline-start: unset;
      &__connect-wallet {
        display: none;
      }
    }
  }
}
@-moz-document url-prefix() {
}
