@import './themes.scss';
@import './fonts/fonts.css';


body {
  background: var(--body-background);
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'RF Dewi Extended', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}