.theme-dark {
  --body-background: #121420;
  --app-header-background: #121420;
  --app-header-border: #1b1f33;
  --primary-color: #356df6;
  --primary-color-rgb: 53, 108, 246;
  --text-color: #ffffff;
}

.theme-light {
  --body-background: #F3F4F6;
  --app-header-background: #FFFFFF;
  --app-header-border: #D1D5DB;
  --primary-color: #356df6;
  --primary-color-rgb: 53, 108, 246;
  --text-color: #000000;
}
:root {
  // Sizes
  --side-mobile-menu-footer-height: 100px;
  // Colors
  --white-color: #ffffff;
  --black-color: #000000;
}