.theme-dark {
  --body-background: #121420;
  --app-header-background: #121420;
  --app-header-border: #1b1f33;
  --primary-color: #1e90ff;
  --background-color: #121212;
  --text-color: #ffffff;
}

.theme-light {
  --body-background: #F3F4F6;
  --app-header-background: #FFFFFF;
  --app-header-border: #D1D5DB;
  --primary-color: #007bff;
  --background-color: #ffffff;
  --text-color: #000000;
}
